- @title = "#{@github_project.full_name} #{@glossary.source_language} #{@glossary.target_language} の用語一覧"
.container
  %h1
    = @github_project.full_name
    = @glossary.source_language
    = @glossary.target_language
  %p
    = @github_project.remote_repository_url
  %h2
    登録されてる用語一覧
  - @glossary.terms.each do |term|
    = render :partial => 'term', :locals => {:term => term}
