= form_for @terms, url: user_glossary_terms_path(current_user, @user_glossary), :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :source_term, :class => 'control-label required'
    = f.label :target_term, :class => 'control-label required'
    = f.label :note, :class => 'control-label'

  -@terms.each_with_index do |term, i|
    .control-group{:id => "term#{i+1}"}
      = text_field_tag :source_term, term.source_term, :id => 'source_term1', :class => 'source_term', :name => "glossary_entry[#{i+1}][source_term]"
      = text_field_tag :target_term, term.target_term, :id => 'target_term1', :class => 'target_term', :name => "glossary_entry[#{i+1}][target_term]"
      = text_field_tag :note, term.note,:id => 'note1', :class => 'note', :name => "glossary_entry[#{i+1}][note]"
      - term.errors.full_messages.each do |msg|
        %span.text-error= msg

  .control-group
    = f.button 'フォームを追加する', :id => 'add_btn', :class => 'btn btn-small', :type => 'button'

  .control-group
    .controls
      .btn-group.actions
        = f.submit '登録して公開する', :class => 'btn btn-large'

