= form_for @term, url: user_glossary_terms_path(current_user, @user_glossary), :html => { :class => 'form-horizontal' } do |f|
  -if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :source_term, :class => 'control-label required'
    = f.label :target_term, :class => 'control-label required'
    = f.label :note, :class => 'control-label'

  .control-group#term1
    = f.text_field :source_term, :id => 'source_term1', :class => 'source_term', :name => 'glossary_entry[1][source_term]'
    = f.text_field :target_term, :id => 'target_term1', :class => 'target_term', :name => 'glossary_entry[1][target_term]'
    = f.text_field :note, :id => 'note1', :class => 'note', :name => 'glossary_entry[1][note]'

  .control-group
    = f.button 'フォームを追加する', :id => 'add_btn', :class => 'btn btn-small', :type => 'button'

  .control-group
    .controls
      .btn-group.actions
        = f.submit '登録して公開する', :class => 'btn btn-large'

