= form_for @term, url: user_glossary_terms_path(current_user, @user_glossary), :html => { :class => 'form-horizontal' } do |f|
  -if @term.errors.any?
    #error_explanation
      %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
      %ul
        - @term.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :source_term, "Source term:", :class => 'control-label required'
    .controls
      = f.text_field :source_term
  .control-group
    = f.label :target_term, "Target term:", :class => 'control-label required'
    .controls
      = f.text_field :target_term
  .control-group
    = f.label :note, "Note:", :class => 'control-label'
    .controls
      = f.text_field :note

  .control-group
    .controls
      .btn-group.actions
        = f.submit '登録して公開する', :class => 'btn btn-large'

