.container
  %h1
    = @user_glossary.glossary_name
    = @user_glossary.source_language
    = @user_glossary.target_language
  %h2
    用語の編集
  .well
    = form_for @term, url: user_glossary_term_path(current_user, @user_glossary, @term.id), method: :put, :html => { :class => 'form-horizontal' } do |f|
      -if @term.errors.any?
        #error_explanation
          %h2= "#{pluralize(@term.errors.count, "error")} prohibited this term from being saved:"
          %ul
            - @term.errors.full_messages.each do |msg|
              %li= msg

      .control-group
        = f.label :source_term, "Source term:", :class => 'control-label required'
        .controls
          = f.text_field :source_term
      .control-group
        = f.label :target_term, "Target term:", :class => 'control-label required'
        .controls
          = f.text_field :target_term
      .control-group
        = f.label :note, "Note:", :class => 'control-label'
        .controls
          = f.text_field :note

      .control-group
        .controls
          .btn-group.actions
            = f.submit '更新する', :class => 'btn btn-lerge'

