.term
  .row
    .span9
      %span.label<>
        = term.source_language
      = render_sinpped(term.snipped_source_term)
      %span.label<>
        = term.target_language
      = term.target_term
      - unless term.note.empty?
        %span.label<>
          = "note"
        = term.note
    .span2.property
      - if github_project?(term.glossary_name)
        %p.githubProject
          = link_to term.glossary_name_without_github, '#'
      - else
        %p.logalingProject
          = link_to term.glossary_name, '#'
          - if signed_in?
            - user_glossary = UserGlossary.find_by_term_and_user(term, current_user)
            - if user_glossary
              %p.btn-group.actions
                = link_to raw("<i class=icon-pencil></i>"), edit_user_glossary_term_path(current_user, user_glossary, term.id), :class => 'btn btn-mini'
                = link_to raw("<i class=icon-trash></i>"), user_glossary_term_path(current_user, user_glossary, term.id), method: :delete, :class => 'btn btn-mini'

