= form_for @github_project, :html => { :class => "form-horizontal" } do |f|
  -if @github_project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@github_project.errors.count, "error")} prohibited this github_project from being saved:"
      %ul
        - @github_project.errors.full_messages.each do |msg|
          %li= msg

  -# TODO should be just one text field
  .control-group
    http://github.com/
    = f.text_field :owner
    \/
    = f.text_field :name

  .control-group
    .btn-group.actions
      = f.submit '登録する', :class => 'btn btn-large'
