%h1 Listing github_projects

%table
  %tr
    %th Owner
    %th Name
    %th
    %th
    %th

  - @github_projects.each do |github_project|
    %tr
      %td= github_project.owner
      %td= github_project.name
      %td= link_to 'Show', github_project
      %td= link_to 'Edit', edit_github_project_path(github_project)
      %td= link_to 'Destroy', github_project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Github project', new_github_project_path
