- @title = '登録用語集一覧'
.container
  %h1
    = @title
  %h2
    インポート用語集の一覧
  %ul.glossariesList
    - @imported_projects.each do |project|
      %li
        = link_to_glossary_of_imported_project(project)
        \:
        = project.description

  %h2
    個人用語集の一覧
  %ul.glossariesList
    %li
    - @user_glossaries.each do |glossary|
      %li
        = link_to "#{glossary.user.name}/#{glossary.link_text}", user_glossary_path(glossary.user, glossary)
        - if glossary.description.present?
          = " : #{glossary.description}"

  %h2
    登録されている Github プロジェクトの一覧
  %ul.projectsList
    - @github_projects.each do |project|
      %li
        = link_to project.full_name, project

