= form_for @user_glossary, :html => { :class => 'form-horizontal' } do |f|
  -if @user_glossary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_glossary.errors.count, "error")} prohibited this user_glossary from being saved:"
      %ul
        - @user_glossary.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :original_user_glossary_id, :class => 'control-label'
    .controls
      = f.collection_select :original_user_glossary_id, UserGlossary.where(user_id: current_user), :id, :name, include_blank: "選択してください"
  .control-group
    = f.label :name, :class => 'control-label required'
    .controls
      = f.text_field :name, :placeholder => 'my_glossary'
  .control-group
    = f.label :source_language, :class => 'control-label required'
    .controls
      = f.text_field :source_language, :class => 'input-mini', :placeholder => 'en'
  .control-group
    = f.label :target_language, :class => 'control-label required'
    .controls
      = f.text_field :target_language, :class => 'input-mini', :placeholder => 'ja'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'input-xxlarge', :placeholder => '私の個人的な用語集'

  .control-group
    .controls
      .btn-group.actions
        = f.submit '登録する', :class => 'btn btn-large'
