= form_for @user_glossary, :html => { :class => 'form-horizontal' } do |f|
  -if @user_glossary.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_glossary.errors.count, "error")} prohibited this user_glossary from being saved:"
      %ul
        - @user_glossary.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :original_user_glossary_id, :class => 'control-label'
    .controls
      = f.collection_select :original_user_glossary_id, UserGlossary.where(user_id: current_user), :id, :name, include_blank: "選択してください"
  .control-group
    = f.label :name, :class => 'control-label required'
    .controls
      = f.text_field :name, :placeholder => 'my_glossary'
  .control-group
    = f.label :source_language, :class => 'control-label required'
    .controls
      = f.text_field :source_language, :class => 'input-mini', :placeholder => 'en'
  .control-group
    = f.label :target_language, :class => 'control-label required'
    .controls
      = f.text_field :target_language, :class => 'input-mini', :placeholder => 'ja'
      %span.help-block
        元言語と翻訳言語には
        = link_to 'ISO 639', 'http://ja.wikipedia.org/wiki/ISO_639'
        で規定されている言語の名称の略号2文字（ja や en など）を入力してください
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'input-xxlarge', :placeholder => '私の個人的な用語集'

  .control-group
    .controls
      .btn-group.actions
        = f.submit '登録する', :class => 'btn btn-large'
      %span.help-block
        %b Note:
        本サイトでユーザが作成する用語集のライセンスは、
        = link_to 'クリエイティブ・コモンズ3.0 BY-SA', 'http://creativecommons.org/licenses/by-sa/3.0/'
        に従うものとします。
