- @title = "#{@user_glossary.title_text} の用語一覧"
.container
  %h1
    = "#{@user.name} / #{@user_glossary.title_text}"
  %p
    = @user_glossary.description
  - if signed_in? && current_user.own?(@user_glossary)
    %h2
      用語を登録
    .well
      = render 'terms/form'
  %h2
    登録されてる用語一覧
  - @registered_terms.each do |term|
    .term
      .row
        .span9
          %span.label<>
            = @user_glossary.source_language
          = term.source_term
          %span.label<>
            = @user_glossary.target_language
          = term.target_term
          %span.label<>
            note
          = term.note
        .span2.property
          %p.logalingProject
            = @user_glossary.link_text
          - if signed_in? && current_user.own?(@user_glossary)
            %p.btn-group.actions
              = link_to raw("<i class=icon-pencil></i>"), edit_user_glossary_term_path(current_user, @user_glossary, term.id), :class => 'btn btn-mini'
              = link_to raw("<i class=icon-trash></i>"), user_glossary_term_path(current_user, @user_glossary, term.id), method: :delete, :class => 'btn btn-mini'
  = paginate @registered_terms
