.container
  %h1
    = @user_glossary.glossary_name
    = @user_glossary.source_language
    = @user_glossary.target_language
  %h2
    用語を登録
  .well
    = render 'terms/form'
  %h2
    登録されてる用語一覧
  - @user_glossary.terms.each do |term|
    .term
      .row
        .span9
          %span.label<>
            en
          = term.source_term
          %span.label<>
            ja
          = term.target_term
          %span.label<>
            note
          = term.note
        .span2.property
          %p.logalingProject
            (プロジェクト名)
          %p.btn-group.actions
            = link_to raw("<i class=icon-pencil></i>"), edit_user_glossary_term_path(current_user, @user_glossary, term.id), :class => 'btn btn-mini'
            = link_to raw("<i class=icon-trash></i>"), user_glossary_term_path(current_user, @user_glossary, term.id), method: :delete, :class => 'btn btn-mini'
