!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= ['logaling', @title].flatten.compact.join(' | ')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag    "application"
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

  %body
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    %header.container
      .row
        .span4
          .brand
            = link_to image_tag('commonLogo.png', { :alt => 'logalingけんさく'}), root_path, :class => 'brand'
        %nav.span4
          = form_tag search_path, :method => :get, :class => 'form-search' do
            .input-append
              = text_field_tag :query, @query, :class => 'search-query', :placeholder => '単語/フレーズを入力'
              %button.btn{ :type => 'submit' }
                検索
        %nav.span4
          %ul.userNav
            - if signed_in?
              %li= link_to current_user.name, dashboard_path
              %li= link_to "サインアウト", signout_path
            - else
              - if Rails.env.development?
                %li= link_to "用語を登録（サインイン）(for dev)", "/auth/developer"

    = yield

    %footer
      .container
        %nav
          %ul
            %li
              = link_to "logaling-command", "http://logaling.github.com"
        .copyright
          %p
            &copy; 2012 logaling project
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = javascript_tag do
      jQuery(document).ready(function() {jQuery('#query').focus()});
