!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= ['logaling', @title].flatten.compact.join(' | ')
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    / Le styles
    = stylesheet_link_tag    "application"
    :css
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    / Le fav and touch icons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "logaling", root_path, :class => 'brand'
          = form_tag search_path, :method => :get, :class => 'navbar-search pull-left' do
            = text_field_tag :query, @query, :class => 'search-query', :placeholder => 'Search'
            = submit_tag 'Search', style: 'display: none'

    .container

      .content
        .row
          .span12
            = yield

      %footer
        %p &copy; logaling project
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = javascript_tag do
      jQuery(document).ready(function() {jQuery('#query').focus()});
